.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: #111;
  border: none;
  display: block;
}

.sidenav button:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}

.gifs {
  position: relative;
  left: 100px;
  top: 0px;
}

.gifs img {
  display: inline-block;
  height: 350px;
  width: 300px;
}

.gifs p {
  display: block;
  font-size: 20px;
  padding: 15x;
  text-align: center;
}

.gifs div {
  display: inline-block;
  padding: 20px;
}
